// Put any @imports here
// See Readme for a list of supported ones

body {
  background: gold;
}

  .container {

  }
    .banner {
      background-image: url('http://vignette2.wikia.nocookie.net/dragonball/images/9/96/GokuVsFriezaEp102.png/revision/latest?cb=20121030195542');
      background-size: contain;
      height: 200px;
      width: 100%;
    }
